.display-card{
    outline: 1px solid #615f5f;
    margin-right: 20px;                 /* margin: space between cards */
    margin-bottom: 20px;
    border-radius: 15px;
}

.display-grid {
    justify-content: flex-start;    /* justify: changes where grid element/item stay (center, start, end, ...)*/ 
    gap: 1rem;                     /* gap: alters item distance between each other */
    margin-top: 40px;
}

.display-tool-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-avatar {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 3px;
}

.excellent-card {
    outline: 1px solid rgb(57, 138, 48);
    background-color: rgb(79, 180, 67);
    color: rgb(33, 90, 38);
}

.low-warning-card {
    outline: 1px solid rgb(180, 163, 12);
    background-color: rgb(226, 194, 14);
    color: rgb(130, 94, 26);
}

.warning-card {
    outline: 1px solid rgb(219, 108, 10);
    background-color: rgb(255, 121, 0);
    color: rgb(161, 48, 13);
}

.low-urgency-card {
    outline: 1px solid rgb(146, 5, 19);
    background-color: rgb(240, 39, 39);
    color: rgb(117, 14, 14);
}

.urgency-card {
    outline: 1px solid rgb(165, 5, 21);
    background-color: rgb(201, 29, 29);
    color: rgb(71, 14, 14);
}

.unknown-card {
    outline: 1px solid rgb(126, 119, 120);
    background-color: rgb(172, 163, 163);
    color: rgb(82, 76, 76);
}

.smaller-card {
    max-height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 20px;
}

.collapse-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 8px;
}
    
.collapsible-content {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 515px;
    margin: auto;
}
